@import "src/assets/styles/main.module";

.wrap {
  display: grid;
  padding: 20px;
  row-gap: 8px;
  background: $bg-dark-opacity;
  width: 100%;
  box-shadow: $dark-box-shadow;
  backdrop-filter: $backdrop-filter;
}