.wrap {
  display: grid;
  row-gap: 30px;
}



.resultWrap {
  display: grid;
  grid-template-columns: 550px auto;
  column-gap: 30px;
}

.resultWrapActive {
  max-width: 700px;
  margin: 0 auto;
}

@media screen and (max-width: 924px) {
  .resultWrap {
    grid-template-columns: 1fr;
  }

}