@import "src/assets/styles/main.module";

.wrap {
  font-family: $titleFont;
}

.section {
  display: grid;
  grid-template-columns: 30px auto 30px;
}

.title {
  font-size: 18px;
  margin-bottom: 4px;
  padding-left: 30px;
  font-family: $titleFont;
  text-transform: uppercase;
}

.line {
  height: 20px;
  width: 100%;
  background: $gradient-grey;
  position: relative;
  display: grid;
  border-radius: 4px;
}


.rateValue {
  position: absolute;
  background: $gradient-yellow;
  height: 30px;
  width: 5px;
  margin-top: -5px;
  z-index: 205;
}

.rateValueText {
  position: absolute;
  transform: translate(-14px, -25px);
  background: $gradient-yellow;
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
  font-family: $titleFont;
  border-radius: 50%;
  box-shadow: $dark-box-shadow;
  backdrop-filter: $backdrop-filter;
  font-size: 14px;
}


.rateValuePoints {
  position: absolute;
  transform: translate(-4px, 30px);
  font-size: 11px;
  color: green;
}

.count {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
}
